.bannerfooter {
  margin-top: 103px;
  width: 100%;
  height: 100px;
  background-color: #EE3232;

  .buttonGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 700px;

    button {
      width: 164px;
      height: 51px;
      background-color: #000;
      color:#0DFF25;
      outline: 0;
      border: none;
      cursor: pointer;
    }
  }
}